.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    line-height: 75px;
    box-shadow: 0  0 0 2px;
    font-size: 50px;
    cursor: pointer;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}
#div{
    font-family: 'Permanent Marker' , cursive;
    text-align: center;
}